<h1 class="font-bold text-4xl">New Collection</h1>

<%= form_with model: @collection do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, data: {testid: "collection-name-input"} %>
  </div>
  <div>
    <%= form.fields_for :collection_invitations do |invitations_form| %> 
      <%= invitations_form.hidden_field :accepted_at, value: DateTime.now %>
      <div>
        <%= invitations_form.label :journal_id %>
        <%= invitations_form.select :journal_id, @journals.pluck(:name, :id), 
          {prompt: "Select a journal"},
          {data: {testid: "journals-select"}} %>
      </div>
    <% end %>
  </div>
  <%= form.submit "Save Collection", data: {testid: "collection-save-btn"} %>
<% end %>
