<h1
  class="text-xl text-lime-300 font-bold mb-[16px]"
>
  <%= link_to @collection.name, @collection %>
</h1>
<%= link_to "Edit Collection", "" %>
<div 
  data-controller="reveal"
>
  <button
    class=""
    data-action="reveal#toggle"
    data-testid="invite-reveal-btn"
  >
    Invite
  </button>
  <div
    hidden
    class=""
    data-reveal-target="revealable"
  >
    <%= render partial: "collections/invitations/form",
      locals: {collection: @collection, invitation: @invitation}
    %>
  </div>
</div>

<% if @collection.members.any? { |member| current_user == member } %>
  <%= button_to "Leave", membership_path(@membership), method: :delete,
    data: {testid: "membership-destroy-btn"}
  %>
<% end %>

<ul
  class="px-4 py-2 space-y-2"
  data-testid="journal-notes"
>
  <% @collection.journals.map(&:notes).flatten.each do |note| %>
    <li>
      <%= render partial: "notes/note", locals: {note: note} %>
    </li>
  <% end %>
</ul>
