<h3 class="font-bold mb-[8px]">
  <%= link_to note.name, note_path(note),
    data: {testid: "note-link"}
  %>
</h3>
<% if note.counters.any? %>
  <%= turbo_stream_from note, :counters %>
  <%= turbo_frame_tag dom_id(note, :counters),
    src: note_counters_path(note)
  %>
<% end %>
<% if note.body != "" %>
  <div
    class="prose prose-invert marker:text-slate-400 max-w-none mb-[8px] bg-slate-600 rounded-md px-[16px] py-[8px]"
    id="<%= dom_id(note, :body) %>"
    data-turbo-transition="note-body"
    data-testid="note-body"
  >
    <%= markdown(note.body) %>
  </div>
<% end %>
<ul class="flex justify-end items-center space-x-[4px]">
  <% if allowed_to?(:manage?, note) %>
    <li
      class="flex justify-end items-center"
      data-controller="reveal"
    >
      <%= turbo_frame_tag dom_id(note, :new_counter),
        src: new_note_counter_path(note),
        data: {
          reveal_target: "revealable",
        },
        hidden: true
      %>
      <button
        class=""
        data-action="reveal#toggle"
        aria-label="toggle new counter form"
        data-testid="counter-toggle-btn"
      >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
        </svg>
      </button>
    </li>
    <li>
      <%= link_to edit_note_path(note), 
        data: {testid: "note-edit-link"},
        aria: {label: "edit note"} do
      %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
      <% end %>
    </li>
    <li>
      <%= button_to note_path(note), method: :delete,
        data: {
          turbo_confirm: "This will permanently delete this note. Are you sure?",
          testid: "note-destroy-btn"
        },
        class: "flex items-center",
        aria: {label: "delete note"} do
      %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
        </svg>
      <% end %>
    </li>
  <% end %>
</ul>
