<%= link_to "Back to #{@journal.name}", journal_notes_path(@journal),
  class: ""
%>
<%= render @note %>

<div>
  <%= turbo_frame_tag dom_id(@note, :new_comment),
    src: new_note_comment_path(@note)
  %>
  <h3>Comments</h3>
  <%= turbo_stream_from @note, :comments %>
  <%= turbo_frame_tag dom_id(@note, :comments),
    src: note_comments_path(@note)
  %>
</div>
