<%= form_with model: [note, comment] do |form| %>
  <% if form.object.errors.any? %>
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.label :body, "Comment",
    class: "block text-sm text-indigo-400 font-bold"
  %>
  <%= form.text_area :body,
    class: "w-full bg-slate-800 border-slate-600 rounded-md placeholder:italic placeholder:text-slate-600",
    data: {testid: "comment-body-input"}
  %>
  <%= form.submit "Save Comment",
    class: "h-8 w-full px-[8px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer",
    data: {testid: "comment-save-btn"}
  %>
<% end %>
