<%= form_with model: [note, comment],
  class: "flex flex-col space-y-[8px]" do |form|
%>
  <% if comment.errors.any? %>
    <ul
      class="flex flex-col space-y-[4px]"
    >
      <% comment.errors.full_messages.each do |message| %>
        <li
          class="font-medium text-rose-400 bg-slate-700 px-4 py-2 rounded-md"
        >
          <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= form.label :body, "Comment",
    class: "block text-sm text-indigo-400 font-bold"
  %>
  <%= form.text_area :body,
    class: "w-full bg-slate-800 border-slate-600 rounded-md placeholder:italic placeholder:text-slate-600",
    data: {testid: "comment-body-input"}
  %>
  <%= form.submit "Save Comment",
    class: "h-8 w-full px-[8px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer",
    data: {testid: "comment-save-btn"}
  %>
  <% if comment.persisted? %>
    <%= link_to "Cancel", comment,
      class: "h-8 w-full px-[8px] leading-8 text-center align-middle text-lg text-stone-300 bg-rose-400 rounded-md hover:bg-rose-500 focus:bg-rose-600 hover:cursor-pointer"
    %>
  <% end %>
<% end %>
