<!DOCTYPE html>
<html>
  <head>
    <title>Fae Scribe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav data-controller="popover">
      <button data-action="popover#toggle" data-testid="nav-hamburger-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
      <ul data-popover-target="toggled" hidden>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if current_user %>
          <li><%= link_to "Journals", journals_path %></li>
          <% if current_user.journals.any? %>
            <% current_user.journals.each do |journal| %>
              <li><%= link_to journal.name, journal_notes_path(journal) %></li>
            <% end %>
          <% end %>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, 
                method: :delete, data: {testid: "sign-out-btn"}%></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <div data-testid="flash-msg">
      <% flash.each do |type, message| %>
        <% if message.is_a?(Array) %>
          <ul>
            <% message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul> 
        <% else %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
