<!DOCTYPE html>
<html>
  <head>
    <title>RubyScribe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>
    <main class="container mx-auto mt-28 px-5 flex">
      <% flash.each do |type, message| %>
        <% if message.is_a?(Array) %>
          <ul>
            <% message.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul> 
        <% else %>
          <div><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
